Feature: Login

  Scenario: Login com sucesso
    Given o cliente realiza uma solicitação HTTP POST para o endpoint de login
    And informe um corpo de requisição contendo credenciais válidas
    Then a resposta deve ter o status HTTP 200 OK
    And a resposta deve conter um token de autenticação válido

Feature: Usuários

  Scenario: Listar usuários cadastrados
    When o cliente realiza uma solicitação HTTP GET para o endpoint "/users"
    Then a resposta deve ter o status HTTP 200 OK

  Scenario: Cadastrar novo usuário
    When o cliente realiza uma solicitação HTTP POST para o endpoint "/users" com um payload válido
    Then a resposta deve ter o status HTTP 201 Created

  Scenario: Cadastro com nome em branco
    When o cliente realiza uma solicitação HTTP POST para o endpoint "/users" com um payload onde o campo "nome" está em branco
    Then a resposta deve ter o status HTTP 400 Bad Request

  Scenario: Cadastro com e-mail em branco
    When o cliente realiza uma solicitação HTTP POST para o endpoint "/users" com um payload onde o campo "email" está em branco
    Then a resposta deve ter o status HTTP 400 Bad Request

  Scenario: Cadastro com e-mail inválido
    When o cliente realiza uma solicitação HTTP POST para o endpoint "/users" com um payload onde o campo "email" contém um endereço inválido
    Then a resposta deve ter o status HTTP 400 Bad Request

  Scenario: Cadastro com senha em branco
    When o cliente realiza uma solicitação HTTP POST para o endpoint "/users" com um payload onde o campo "senha" está em branco
    Then a resposta deve ter o status HTTP 400 Bad Request

  Scenario: Cadastro com campo 'administrador' como 'false'
    When o cliente realiza uma solicitação HTTP POST para o endpoint "/users" com um payload onde o campo "administrador" está definido como false
    Then a resposta deve ter o status HTTP 201 Created

Feature: Buscar Usuário

  Scenario: Buscar usuário pelo ID válido
    When o cliente realiza uma solicitação HTTP GET para o endpoint "/users/{id}" com um ID válido
    Then a resposta deve ter o status HTTP 200 OK

  Scenario: Buscar usuário com ID inválido
    When o cliente realiza uma solicitação HTTP GET para o endpoint "/users/{id}" com um ID inválido
    Then a resposta deve ter o status HTTP 400 Bad Request

  Scenario: Buscar usuário com ID em branco
    When o cliente realiza uma solicitação HTTP GET para o endpoint "/users/{id}" com um ID em branco
    Then a resposta deve ter o status HTTP 400 Bad Request

Feature: Excluir Usuário

  Scenario: Excluir usuário
    When o cliente realiza uma solicitação HTTP DELETE para o endpoint "/users/{id}" com um ID válido
    Then a resposta deve ter o status HTTP 200 OK

  Scenario: Excluir usuário com ID inválido
    When o cliente realiza uma solicitação HTTP DELETE para o endpoint "/users/{id}" com um ID inválido
    Then a resposta deve ter o status HTTP 400 Bad Request

  Scenario: Excluir usuário já excluído
    When o cliente realiza uma solicitação HTTP DELETE para o endpoint "/users/{id}" com um ID que não existe mais
    Then a resposta deve ter o status HTTP 404 Not Found ou retornar uma mensagem de erro apropriada