Feature: Testes de Edição de Usuário
Cenario 01: Deve realizar edição com sucesso (200)
Cenario 02: Deve falhar ao realizar edição com todos os dados em branco (400)
Cenario 03: Deve criar um novo usuário ao tentar editar um usuário inexistente (201)
Cenario 04: Deve falhar ao realizar edição com campos nulos (400)
Cenario 05: Deve validar o contrato de resposta ao editar usuário com sucesso (200)

Feature: Teste de Obtenção de Usuário
Cenario 01: Deve obter um usuário na lista (200)
Cenario 02: Deve validar o contrato de resposta ao obter um usuário na lista (200)

Feature: Teste de Login de Usuário
Cenario 01: Deve realizar login com sucesso (200)
Cenario 02: Não deve realizar login com email inválido (401)
Cenario 03: Não deve realizar login com email vazio (400)
Cenario 04: Não deve realizar login com senha inválida (401)
Cenario 05: Não deve realizar login com senha vazia (400)
Cenario 06: Não deve realizar login com email e senha vazios (400)

Feature: Teste de Cadastro de Usuário
Cenario 01: Deve realizar cadastro com sucesso (201)
Cenario 02: Deve falhar ao realizar cadastro com e-mail inválido (400)
Cenario 03: Deve falhar ao realizar cadastro com nome em branco (400)
Cenario 04: Deve falhar ao realizar cadastro com email em branco (400)
Cenario 05: Deve falhar ao realizar cadastro com senha em branco (400)
Cenario 06: Deve validar o contrato de resposta ao realizar cadastro com sucesso (201)