# Ambiente de Desenvolvimento
app.base.url.dev=https://dev.example.com

# Ambiente de Homologação
app.base.url.hom=https://hom.example.com

# Defina o ambiente atual "dev" ou "hom"
app.environment=hom